# Mac OS files
.DS_Store

# cache files
cache/
results/
data/*/*.json
data/*.jsonl
slurm_logs/

# data files
data/flickr_annotations_30k.csv
data/flickr30k-images.zip
data/v1.0-simplified_simplified-nq-train.jsonl

# log file
lightning_logs/

# tex generator files
paper/*
!paper/*.tex
!paper/*.bib
!paper/*.pdf

# Python files
__pycache__/
*.pyc
*.pyo
*.pyd
*.pyw
*.pyz
*.pyzw
*.pyc
*.pyo
*.egg-info/
dist/
build/
*.egg
*.egg-info
*.pyc
*.pyo
*.pyd
*.pyw
*.pyz
*.pyzw
*.coverage
.coverage
htmlcov/
.coverage.*
nosetests.xml
coverage.xml
*.cover
*.py,cover
*.mo
*.pot
*.orig
*.bak
*.swp
*.~*
*~
*.bak
*.tmp
*.log
*.cache
*.idea/
*.vscode/
